.privacy {
  @media (min-width: 320px) and (max-width: 599.99px) {
    padding: 0 20px;
    width: 100%;
  }
  @media (min-width: 600px) and (max-width: 1279.99px) {
    padding: 0 20px;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    // padding: 0 50px;
    margin: auto;
    width: 947px;
  }
}

.contentPart {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (min-width: 1280px) and (max-width: 2200px) {
    // margin-left: 60px;
    margin: auto !important;
    gap: 50px;
  }
}

.titleWrapper {
  @media (min-width: 1280px) and (max-width: 2200px) {
    // margin-left: 35px;
    // width: 70px;
    position: relative;
    margin-bottom: 20px;
  }
}

.titleFirst {
  color: #00366e;
  @media (min-width: 320px) and (max-width: 1279.99px) {
    margin: 20px 0px;
    white-space: nowrap;
    font-family: "Oblik", Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.1em;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    position: absolute;
    white-space: nowrap;
    top: 190px;
    left: -230px;
    height: fit-content;
    font-family: "Oblik", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.1em;
    transform: rotate(-90deg);
    margin-top: 20px;
  }
}

.titleSecond {
  color: #00366e;
  @media (min-width: 320px) and (max-width: 1279.99px) {
    margin: 20px 0px;
    white-space: nowrap;
    font-family: "Oblik", Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.1em;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    position: absolute;
    white-space: nowrap;
    top: 90px;
    left: -130px;
    height: fit-content;
    font-family: "Oblik", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.1em;
    transform: rotate(-90deg);
  }
}

.imagePrivacy {
  background-image: url("../../images/privacy.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  transform: translateX(90px);
  @media (min-width: 320px) and (max-width: 959.99px) {
   height: 200px;
  }
  @media (min-width: 960px) and (max-width: 2200px) {
    height: 527px;
    width: 1054px;
  }
}

.imageCookie {
  background-image: url("../../images/cookies.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  @media (min-width: 320px) and (max-width: 1279.99px) {
    height: 200px;
    width: 100%;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    height: 500px;
  }
}

.buttonSection {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 56px;
    border-bottom: 2px solid #e0e0e0;
    width: fit-content;

   @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px
}}

.buttonLink {
    background-color: transparent;
    border: 0px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    position: relative;
}

.buttonLink a {
    color: grey;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 4px;
    display: inline-block;
}

.buttonLink:hover a {
    color: #1d3967;
    font-weight: bold;
}

.buttonLink:active a {
    font-weight: bold;
}

.buttonLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 30%;
    height: 2px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.buttonLink:hover::after {
    background-color: #1d3967;
}


