.about {
  display: flex;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 320px) and (max-width: 599.99px) {
    
    display: none;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

.sectionWrapper {
  width: 95%;
  padding-left:3%;
  @media (min-width: 320px) and (max-width: 599.99px) {
    
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    display: flex;
    flex-direction: row;
  }
}

.titleWrapper {
  @media (min-width: 1280px) and (max-width: 2200px) {
    width: 70px;
    position: relative;
  }
}

.title {
  @media (min-width: 320px) and (max-width: 1279.99px) {
    white-space: nowrap;
    font-family: "Oblik", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    position: absolute;
    white-space: nowrap;
    top: 55px;
    left: -50px;
    height: fit-content;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.1em;
    transform: rotate(-90deg);
  }
}

.sectionContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  @media (min-width: 1280px) and (max-width: 2200px) {
    flex-direction: row;
    // justify-content: space-between;
    
  }
}

.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.selfieStyle {
  max-width: 495px;
  max-height: 462px;
  object-fit: cover;
  @media (min-width: 320px) and (max-width: 599.99px) {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.description {
  font-size: 24px;
  font-weight: 300;
  font-family: "Josefin Sans";
  line-height: 30px;
  letter-spacing: 0.1em;
  text-align: center;
  @media (min-width: 320px) and (max-width: 599.99px) {
    margin-bottom: -10px;
    font-size: 16px;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    margin-bottom: -10px;
    font-size: 16px;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    margin-bottom: -10px;
    font-size: 16px;
  }
}

.descriptionWrapper {
  align-items: center;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  width: 90%;
}
