.home {
  display: flex;
  flex-direction: column;
  width: 100%; //changed to 100% from 80%
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 20px;
  // padding-right: 20px;
  @media (max-width: 960px) {
    margin: 0;
    padding: 0;
    width: 100%;
    // gap: 35px;
  }
  // @media (min-width: 320px) and (max-width: 599.99px) {
  //   width: 100%;
  //   padding: 0;
  // }
  // @media (min-width: 600px) and (max-width: 1279.99px) {
  //   width: 100%;  
  //   padding: 0;
  // }
  // @media (min-width: 1280px) and (max-width: 2200px) {
  //   // padding: 0 50px;
  // }
}

.homeHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  // margin-top: 20px;
  // margin-left: 3%;
  @media (max-width: 960px) {
    margin: 0;
    padding: 0;
    flex-direction: column;
    // gap: 35px;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
    margin: 0;
    // gap: 35px;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    gap: 40px;
  }
}
