@use "../../Styles/App.scss" as app;
.support {
  margin-bottom: 4rem;
  width: 100%;
  height: auto;
  align-content: center;
  background-color: var(--color-neutral-100);
  @media (min-width: app.$tablet) {
    margin-bottom: 6.25rem;
  }
  @media (min-width: app.$smallScreen) {
    margin-bottom: 8.875rem;
  }
  @media (min-width: app.$desktop) {
    padding: 0;
  }
}

.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  @media (min-width: app.$tablet) {
    display: grid;
    grid-template-columns: repeat(2, 16.375rem);
    justify-content: center;
    max-width: 50rem;
    margin: 0 auto;
    gap: 1.9375rem;
  }
  @media (min-width: app.$smallScreen) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    max-width: none;
  }
}

.description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center;
  color: #1d3967;
  font-family: "Josefin Sans", Arial, sans-serif;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  text-wrap: nowrap;

  &:hover {
    color: #243864;
    font-weight: 500;
  }

  width: 16.875rem;

  @media (min-width: app.$smallScreen) {
    width: calc(25% - 18px);
    min-width: 13.4375rem;
  }
}

.supportCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid transparent;

  box-shadow: 0px 4px 12px rgba(29, 57, 103, 0.15);
  padding: 1.4375rem 0;
  max-width: 16.25rem;
  transition: all 0.3s ease-in-out;
  @media (min-width: app.$tablet) {
    max-width: 16.375rem;
    margin: 0;
  }
  @media (min-width: app.$smallScreen) {
    box-shadow: none;
  }
  @media (min-width: app.$desktop) {
    max-width: none;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(29, 57, 103, 0.15);
    transform: translateY(-2px);
  }
}

.icon {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  margin-bottom: 1.5rem;
}

.cardTitle {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  color: #1d3967;

  @media (min-width: app.$tablet) {
    margin-bottom: 0.125rem;
  }
  @media (min-width: app.$smallScreen) {
    margin-bottom: 0.25rem;
  }
}

.cardText {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  color: #1d3967;
}

.phoneNumber {
  font-weight: 400;
  font-size: 1rem;
  color: #1d3967;
  margin: 0.5rem 0 0 0;
}

.mobileSupport {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.contactLink {
  display: flex;
  flex-direction: column;
  margin: auto !important;
  justify-content: center !important;
  align-items: center;
}

.contactLink p {
  color: #1d3967;
  text-decoration: none;
}

.contactLink p:nth-child(2) {
  margin-top: 0.625rem !important;
}

.contactLink p:nth-child(3) {
  font-weight: 300;
}
