.imageBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  @media (min-width: 600px) {
    width: 100%;
  }

  @media (min-width: 960px) and (max-width: 1279.99px) {
    width: 100%;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 1%;
  width: 92%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  @media (max-width: 960px) {
    width: 100%;
    position: absolute;
    left: 0% !important;
  }
}

.currentImage {
  opacity: 1;
}

.pagination {
  margin-bottom: 30px;
  position: absolute;
  z-index: 2;

  @media (max-width: 600px) {
    margin-bottom: 10px;
  }

  @media (min-width: 600px) and (max-width: 959.99px) {
    margin-bottom: 20px;
  }
}

.paginationBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-right: 120px;

  @media (max-width: 600px) {
    // width: 120px;
  }
}

.paginationDot {
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  transition: background-color 0.3s ease;

  @media (min-width: 320px) and (max-width: 1279.99px) {
    width: 8px;
    height: 8px;
  }
}

.paginationDotActive {
  background-color: #1d3967;
}

.arrowButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.arrowButton:hover {
  background-color: rgba(255, 255, 255, 0.015);
}

.arrowButton:active {
  background-color: rgba(29, 57, 103, 0.08);
}

.arrowButtonLeft {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  z-index: 2;
}

.arrowButtonRight {
  position: absolute;
  right: 0;
  top: 47%;
  transform: translateY(-50%);
  margin-right: 20px;
  z-index: 2;

  @media (min-width: 960px) {
    margin-right: 10%;
  }
}



.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  z-index: 2;
  opacity: 1;
  object-fit: cover;
  transition: opacity 2s ease-in-out;

  @media (max-width: 960px) {
    width: 100%;
  }
}

.placeholder.fadeOut {
  opacity: 0;
  pointer-events: none;
}

/* STABLE ARROWS — WITH ACTIVE COLOR EFFECT */
.customArrowLeft,
.customArrowRight {
  position: relative;
  width: 18px;
  height: 18px;
}

.customArrowLeft::before,
.customArrowRight::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: translate(-50%, -50%) rotate(135deg);
  transition: border-color 0.2s ease;
}

.customArrowRight::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ACTIVE STATE: ARROW TURNS BLUE */
.arrowButton:active .customArrowLeft::before,
.arrowButton:active .customArrowRight::before {
  border-color: #1d3967;
}
