@use "../../Styles/App.scss" as app;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 72rem; // 1152px
  margin: auto;
  padding: 0 1rem;

  @media (min-width: app.$tablet) {
    padding: 0 2rem;
  }

  @media (min-width: app.$desktop) {
    padding: 0;
  }
}

.outlet {
  width: 100%;
}

.fullWidthSection {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.header {
  max-width: 72rem;
  margin: auto;
}
