.container {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.partContent {
  padding: 50px 0;
  width: 100%;
  border: 1px solid lightgray;
}

.title {
  font-family: Josefin Sans, sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.bookingWrapper {
  padding-left: 40px;
  padding-right: 40px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.leftPartWrapper {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: Josefin Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Josefin Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #14202b;
  transition: all 0.3s ease;
}

.button:hover {
  color: #1464b9;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.modalCalendar {
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  left: 0px;
  top: 60px;
  left: 0px;
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
}

.partDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.dateWrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.divider {
  width: 1px;
  height: 85px;
  background-color: lightgray;
}

.photo {
  width: 45%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 1280px) and (max-width: 1419.99px) {
    width: 80%;
  }
  @media (min-width: 1420px) and (max-width: 1539.99px) {
    width: 60%;
  }
  @media (min-width: 1540px) and (max-width: 2200px) {
    width: 45%;
  }
}

.photoWrapper {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.ratingTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.ratingDetail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleText {
  margin: 0;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 700;
  color: black;
}

.regularText {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
}

.services {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 24px;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
