.paymentComponent {
  width: 100%;
  @media (min-width: 320px) and (max-width: 599.99px) {
    margin-bottom: -10px;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    margin-bottom: -50px;
  }
  @media (min-width: 960px) and (max-width: 1279.99px) {
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}

.title {
  margin-top: 50px;
  font-family: Josefin Sans, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: black;
}
