.payment {
  @media (min-width: 320px) and (max-width: 599.99px) {
    margin-top: 75px;
    width: 100%;
  }
  @media (min-width: 600px) and (max-width: 959.99px) {
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
  @media (min-width: 960px) and (max-width: 1279px) {
    margin-top: 82px;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    margin-top: 110px;
    min-width: 1280px;
    max-width: 2200px;
  }
}

.container {
  @media (min-width: 320px) and (max-width: 599.99px) {
    width: 100%;
  }
  @media (min-width: 1280px) and (max-width: 2200px) {
    margin-left: auto;
    margin-right: auto;
    padding: 0px 100px;
    width: 1280px;
  }
}
