@use "../../Styles/App.scss" as app;

.headerContainer {
  display: flex;
  align-items: center;
  height: 75.67px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  background-color: transparent;
  z-index: 3;
  position: relative;

  @media (min-width: app.$tablet) {
    height: 100px;
    padding: 0;
  }
}

.logoContainer {
  padding-left: 16px;

  @media (min-width: app.$tablet) {
    padding-left: 144px;
  }
}

.logoLink {
  width: 136px;
  height: 59.67px;

  @media (min-width: app.$tablet) {
    width: 176.07px;
    height: 100px;
  }
}

.logoImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btnsWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;

  @media (min-width: app.$tablet) {
    gap: 2rem;
  }
}

.iconsWrapper {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-right: 16px;
}

.menuBtn {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 48px;
  height: 48px;
}

.menuImg {
  width: 48px;
  height: 48px;
}

.btnCorrection {
  display: flex;
  font-size: 0.8rem;
  min-inline-size: 11.25rem;
  inline-size: auto;
  justify-content: center;
  align-items: center;
  height: 60px;

  @media (min-width: app.$tablet) {
    font-size: 1rem;
  }
}
