@use "../../Styles/App.scss" as app;

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 75.67px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  z-index: 3;

  @media (min-width: app.$tablet) {
    padding: 0 32px;
    height: 75.67px;
    max-width: 100%;
  }

  @media (min-width: app.$desktop) {
    height: 100px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    box-sizing: border-box;
  }
}

.logoLink {
  display: flex;
  align-items: center;
  margin: 0;
  width: 136px;
  height: 59.67px;

  @media (min-width: app.$tablet) {
    width: 166px;
    height: 70.59px;
  }

  @media (min-width: app.$desktop) {
    width: 176.07px;
    height: 100px;
  }
}

.logoImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btnsWrapper {
  display: flex;
  gap: 1rem;

  @media (min-width: app.$desktop) {
    gap: 2rem;
  }
}

.iconsWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menuBtn {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  width: 48px;
  height: 48px;
}

.menuBtn--hidden {
  visibility: hidden;
}

.menuImg {
  width: 48px;
  height: 48px;
}

.btnCorrection {
  display: flex;
  font-size: 0.8rem;
  min-inline-size: 11.25rem;
  inline-size: auto;

  @media (min-width: app.$smallScreen) {
    font-size: 1rem;
    min-inline-size: 13.62rem;
  }

  @media (min-width: app.$desktop) {
    transition: all 0.3s ease-in-out;
    &--hidden {
      opacity: 0;
      transform: translateX(-1rem) scale(0.98);
      width: 176.07px;
      height: 100px;
      padding-left: 144px;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}
