@use "../../Styles/App.scss" as app;

.houseRules {
  width: 100%;
  @media (min-width: app.$desktop) {
    margin: auto;
    max-width: 978px;
  }
}

.titleWrapper,
.titleWrapperMobile {
  @media (min-width: app.$desktop) {
    padding: 0;
    width: 50px;
    position: relative;
  }
}

.titleWrapperMobile {
  @media (min-width: app.$desktop) {
    display: none;
  }
}

.title {
  color: #00366e;
  white-space: nowrap;
  font-family: "Oblik", Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.1em;
  position: relative;
  top: 1.5rem;
  left: 20px;
  width: 329px;
  @media (min-width: app.$desktop) {
    position: absolute;
    top: 80px;
    left: -160px;
    height: fit-content;
    font-size: 24px;
    transform: rotate(-90deg);
  }
}

.houseRulesContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (min-width: app.$desktop) {
    margin-left: 20px;
    gap: 50px;
    width: 978px;
  }
}

.imageMain {
  background-image: url("../../images/houserules.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  @media (min-width: app.$tablet) {
    height: 350px;
  }
  @media (min-width: app.$desktop) {
    height: 500px;
    width: 946px;
  }
}

.guidelines {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px auto;
  @media (min-width: app.$desktop) {
    gap: 50px;
    margin: 0;
  }
}

.rule {
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 16px;
  padding: 0 30px;
  @media (min-width: app.$tablet) {
    padding: 0;
  }
  @media (min-width: app.$desktop) {
    align-items: center;
  }
}

.iconStyle {
  max-width: 60px;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  @media (min-width: app.$tablet) {
    margin-bottom: 0;
  }
}

.ruleText {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  @media (min-width: app.$tablet) {
    margin-left: 30px;
  }
  @media (min-width: app.$smallScreen) {
    margin-left: 40px;
  }
  @media (min-width: app.$desktop) {
    margin-left: 40px;
    width: 850px;
    font-size: 20px;
  }
}
