.btn {

  display: flex;
  align-items: center;
  justify-content: center;

  padding: .6rem .8rem;
  border: 2px solid transparent;
  text-decoration: none;
  cursor: pointer;

  transition: background-color .15s ease, color .15s ease, border-color .15s ease;

  /* Typography */
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 3px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .6;
    pointer-events: none;
    box-shadow: none;
  }
}

.is-disabled {
  cursor: not-allowed;
  opacity: .6;
  box-shadow: none;
}

/* variants */
.btn--primary {
  --bg: var(--color-primary-500);
  --fg: var(--color-neutral-100);
  --bg-hover: var(--color-neutral-100);
  --fg-hover: var(--color-primary-500);
  --bg-disabled: var(--color-neutral-200);
  --fg-disabled: var(--color-neutral-400);

  background-color: var(--bg);
  color: var(--fg);
  border-color: var(--bg);

  &:hover {
    background-color: var(--bg-hover);
    color: var(--fg-hover);
  }

  &:disabled {
    background-color: var(--bg-disabled);
    color: var(--fg-disabled);
    border-color: var(--bg-disabled);
  }
}

.btn--secondary {
  --bg: var(--color-neutral-100);
  --fg: var(--color-primary-500);
  --bg-hover: var(--color-primary-500);
  --fg-hover: var(--color-neutral-100);
  --bg-disabled: var(--color-neutral-200);
  --fg-disabled: var(--color-neutral-400);

  background-color: var(--bg);
  color: var(--fg);
  border-color: var(--color-primary-500);

  &:hover {
    background-color: var(--bg-hover);
    color: var(--fg-hover);
    border-color: var(--bg-hover);
  }

  &:disabled {
    background-color: var(--bg-disabled);
    color: var(--fg-disabled);
    border-color: var(--bg-disabled);
  }
}