@use "../../Styles/App.scss" as app;

.section {
  margin-bottom: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  overflow: hidden;

  @media (min-width: app.$smallScreen) {
    margin-bottom: 6.5rem;
  }

  @media (min-width: app.$desktop) {
    padding: 0;
    height: 22.75rem;
    width: 100%;

    flex-direction: row;
    gap: 4rem;
  }

  &.houseRulesPage {
    @media (min-width: app.$tablet) {
      align-items: flex-start;
    }
  }

  h3 {
    font-family: Oblik;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;

    @media (min-width: app.$desktop) {
      font-size: 1.5rem;

      writing-mode: vertical-rl;
      text-orientation: sideways;
      transform: rotate(180deg);
    }
  }

  &.houseRulesPage {
    @media (min-width: app.$tablet) {
      align-items: flex-start;
    }

    h3 {
      @media (min-width: app.$tablet) {
        text-align: left;
      }
    }
  }

  .sectionWrapper {
    position: relative;
    background-color: var(--color-neutral-200);
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    @media (min-width: app.$tablet) {
      overflow: hidden;
      height: 20rem;

      flex-direction: row;
      justify-content: space-around;
      padding: 2rem 0rem 2rem 2rem;
      gap: 3rem;
    }

    @media (min-width: app.$desktop) {
      overflow: hidden;
      height: 22.8rem;

      flex-direction: row;
      padding: 4rem 0rem 4rem 3rem;
      gap: 4rem;
    }
  }
}

.reviewSponsor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (min-width: app.$tablet) {
    min-width: 14rem;
  }

  @media (min-width: app.$desktop) {
    min-width: 20rem;
  }

  .sponsorContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1.12rem;
      font-weight: 300;
      line-height: 1.2;
      text-align: center;
      color: var(--color-primary-400);

      margin: 0; // Workaround: overwrites bootstrap styling

      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    span {
      display: block;
      text-align: center;
    }

    img {
      width: 12.5rem;
    }
  }
}

.sliderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: app.$tablet) {
    width: auto;
    flex-direction: column;
  }

  @media (min-width: app.$desktop) {
    width: 100%;
  }
}

.sliderNavigation {
  z-index: 2;
  position: absolute;

  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;

  @media (min-width: app.$tablet) {
    top: 116%;
    right: 4%;
    bottom: -3rem;
    left: auto;
    transform: none;

    width: auto;
    padding: 0;

    justify-content: flex-end;
    gap: 1.2rem;
  }

  @media (min-width: app.$smallScreen) {
    right: 0;
  }

  @media (min-width: app.$desktop) {
    right: 2%;
  }
}

.slider {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;

  width: 100%;

  @media (min-width: app.$desktop) {
    margin-left: 0;
  }

  :global(.swiper-wrapper) {
    max-width: 25rem;
  }

  :global(.swiper-slide) {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;

    height: auto;
  }
}
