@use "../../Styles/App.scss" as app;

.review-card {
  background-color: var(--color-neutral-100);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 10rem;

  position: relative;
  padding: 2rem 3rem; // space for the quotes

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::before {
    background-image: url("../../images/ReviewSlider/quotes-open-icon.svg");

    top: 1rem;
    left: 1rem;

    @media (min-width: app.$smallScreen) {
      top: 2rem;
      left: 1rem;
    }
  }

  &::after {
    background-image: url("../../images/ReviewSlider/quotes-close-icon.svg");
    bottom: 1.2rem;
    right: 2.5rem;

    @media (min-width: app.$tablet) {
      bottom: 1.6rem;
      right: 1rem;
    }
  }
}

.review-card__quote {
  margin-bottom: 0rem; // Workaround: overwrites bootstrap styling
  padding-left: 2.5rem;

  font-size: 1rem;
  font-weight: 300;
  line-height: 24px;
}

.review-card__author {
  padding: 1.4rem 3rem 0 0;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @media (min-width: app.$smallScreen) {
    padding-right: 2rem;
  }
}

.review-card__hr {
  display: inline-block;
  height: 1px;
  width: 22px;
  background-color: var(--color-primary-500);
  border: none;
}

.review-card__name {
  font-size: 1.12rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 7px;
}

@media (min-width: app.$smallScreen) {
  .review-card {
    width: 25rem;
  }
}
