.recommendations {
  width: 100%;
  margin:auto;
  
  @media (min-width: 320px) {
    width: 329px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  @media (min-width: 600px) {
    width: 100%;
    padding: 1.6rem;
    margin-bottom: 50px;
  }
  @media (min-width: 960px) {
    margin-top: 30px;
    width: 100%;
  }
  @media (min-width: 1280px) {
    padding-left: 0;
    padding-top: 50px;
    padding-right: 0px;
  }
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 1280px) {
    gap: 6rem;
    flex-direction: row;
  }
}

.sectionContent {
  overflow: hidden; 

  display: flex;
  flex-direction: row;
  gap: 3.75rem;

  /* ≥ 600px */
  @media (min-width: 37.5em) {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: 1fr 1fr;
  }

  /* ≥ 960px */
  @media (min-width: 60em) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.2rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  picture {
    height: 25rem;
    display: block;
    overflow: hidden;

    @media(min-width: 37.5em) {
      height: auto;
    }
  }

  img {
    height: 100%;

    @media(min-width: 37.5em) {
      width: 100%;
    }
  }

  figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    h3 {
      font-family: Josefin Sans;
      font-size: 1.25rem;
      font-weight: 500;
      color: var(--text-heading);
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--color-primary-100);

      @media (min-width: 80em) {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      color: var(--text-body);
      margin-bottom: 0rem; // Workaround: overwrites bootstrap styling

      @media (min-width: 80em) {
        font-size: 1.12rem;
      }
    }
  }
}

.titleWrapper {
  @media (min-width: 1280px) {
    position: relative;
  }
}

.title {
  @media (min-width: 320px) {
    white-space: nowrap;
    font-family: "Oblik", Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.1em;
  }
  @media (min-width: 1280px) {
    position: absolute;
    white-space: nowrap;
    top: 124px;
    left: -120px;
    height: fit-content;
    font-family: "Oblik", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.1em;
    transform: rotate(-90deg);
  }
}

.sliderBtnWrapper {
  display: none;
  @media (max-width: 960px) {
    display: flex;  
  position: absolute;
  margin-bottom: -40px;
  width: fit-content;
  height: fit-content;
  justify-content: flex-end;
  right: 0;
  }
  
}
.navigation{
  display: none;
  @media (max-width: 600px) {
  display: flex;
  position: absolute;
  
}
}
.arrow {
  display: flex;
  
  width: 34px;
  height: 24px;
  border: none;
  padding: 0 12.5px;
  background: none;
  background: url("../../images/ReviewSlider/shevron-right.svg") center / auto
    no-repeat;
  outline: none;
  cursor: pointer;
}

.arrow:hover {
  border: 1px solid darkgray;
}

.arrow:focus {
  outline: none;
  box-shadow: none;
}

.buttonPrev {
  transform: rotate(180deg);
}
